.signup_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.signup_title {
    font-size: 24px;
    margin: 10px;
}

.user_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.action_btn {
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--text-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.action_btn:hover {
    transform: scale(1.1);
    background-color: var(--text-color);
    color: var(--background-color);
}
